/* ROOT */

:root {
    --bcamp-primary: #222222;
    --bcamp-secondary: #2b2b2b;
    --bcamp-light: #999999;
    --bcamp-light-dark: #3c3c3c;
    --bcamp-white: #fff;
}

/* DEBUG */

.debug * {
    border: 1px dashed white;


}

/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    height: 100vh;
    background-color: var(--bcamp-primary);
}

.album {
    margin: 0 auto;
    max-width: 1280px;
}

/* UTILS */

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 112px;

    .nav-top {
        padding: 0 2rem;
        align-items: center;
        background-color: var(--bcamp-primary);
        height: 50%;
    }

    .nav-bottom {
        padding: 0.5rem 2rem;
        height: 50%;
        align-items: center;
        background-color: var(--bcamp-secondary);
    }

    .nav-left,
    .nav-right {
        gap: 2rem;
    }

    a {
        color: var(--bcamp-white);
    }

    input {
        width: 100%;
        margin-left: 0.5rem;
        height: 100%;
        background-color: var(--bcamp-light-dark);
        border: none;
        font-size: 1.1rem;
    }

    input::placeholder {
        color: var(--bcamp-light);
    }


    .search-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;
        background-color: var(--bcamp-light-dark);

    }

    i {
        color: var(--bcamp-light);
    }

    .top-search {
        border-radius: 5px;
    }

    .search-bar>input:focus {
        outline: none;
        color: var(--bcamp-light);
    }
}

.bottom-search {
    width: 360px;
    height: 90%;
    border-radius: 20px;
    border: 1px solid var(--bcamp-light);
}

i {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.sign-up,
.log-in {
    padding: 1.5rem 0.5rem;
}

.sign-up:hover,
.log-in:hover {
    background-color: #3c3c3c;
    cursor: pointer;

}

/* MAIN */

main {
    color: var(--bcamp-white);

}

.left-col,
.right-col {
    height: calc(100vh - 112px);
}

.right-col {
    padding: 0 2rem;
}

.left-col {
    width: 70%;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;

    /* CARD */

    .song-card {
        padding: 0 1rem 1rem 1rem;
        width: calc(100% / 4);

    }

    .song-card>* {
        padding-bottom: 0.3rem;
    }

    .img-song>img {
        border: 2px solid var(--bcamp-light-dark);
        width: 100%;
    }

    .img-song>img:hover {
        border: 0;
    }

    .img-song {
        position: relative;
    }

}

.cta-play {
    display: none;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: lightgray;
    /* opacity: 70%; */
    color: black;
    align-items: center;
    justify-content: center;
}

.img-song:hover {
    .d-flex.cta-play {
        display: flex;
    }
}

.song-type {
    color: var(--bcamp-light);
}



.album {
    padding: 1rem;
}

.right-col {
    width: 30%;
    overflow-y: auto;
}

.song-title,
.song-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ASIDE */

aside {
    color: var(--bcamp-white);
    border-left: 2px solid var(--bcamp-light-dark);
}

.img-live-song {
    width: 90%;
    margin-bottom: 2rem;
}

.img-live-song>img {
    width: 100%
}

.play-button {flex-shrink: 0;
    flex-grow: 0;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    background-color: var(--bcamp-white);
    color: var(--bcamp-primary);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.play-music-info {
    padding-left: 1rem;
}

.song-title-live,
.album-title {
    padding-bottom: 0.5rem;
}

.btn {
    width: 90%;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.btn>a {
    text-decoration: none;
}

.btn-white {
    background-color: var(--bcamp-white);
    margin: 1rem 0;

    a {
        color: var(--bcamp-primary);
    }
}

.btn-dark {
    background-color: var(--bcamp-primary);
    margin-bottom: 2rem;

    a {
        color: var(--bcamp-white);
    }
}

.author-photo>img {
    width: 100%;
    height: 100%;
}

.author-photo {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.author-info {
    margin: 2rem 0;
}

/* SCROLL BARRA LATERALE */

.left-col::-webkit-scrollbar,
aside::-webkit-scrollbar {
    width: 0;
}



@media screen and (max-width:992px) {
    .left-col .song-card {
        width: calc(100% / 3);
    }
}

@media screen and (max-width:744px) {
    

    .right-col {
        padding: 0 0.5rem;
    }

    .left-col .song-card {
        width: calc(100% / 2);
    }
}


@media screen and (max-width:600px) {
.right-col{
    display: none;
}
.left-col{
    width: 100%;
}
.navbar .top-search{
    display: none;
}
}