/* ROOT */

:root {
    --bcamp-primary: #222222;
    --bcamp-secondary: #2b2b2b;
    --bcamp-light: #999999;
    --bcamp-light-dark: #3c3c3c;
    --bcamp-white: #fff;
}

/* DEBUG */

.debug * {
    border: 1px dashed white;


}

/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    height: 100vh;
    background-color: var(--bcamp-primary);
}

/* UTILS */

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 112px;

    .nav-top {
        padding: 0.5rem 2rem;
        align-items: center;
        background-color: var(--bcamp-primary);
        height: 50%;
    }

    .nav-bottom {
        padding: 0.5rem 2rem;
        height: 50%;
        align-items: center;
        background-color: var(--bcamp-secondary);
    }

    .nav-left,
    .nav-right {
        gap: 2rem;
    }

    a {
        color: var(--bcamp-white);
    }

    input {
        margin-left:0.5rem;
        height: 100%;
        background-color: var(--bcamp-light-dark);
        border: none;
    }

    .search-bar {
        padding: 0 1rem;
        background-color: var(--bcamp-light-dark);
        
    }

    i{
        color: var(--bcamp-light);
    }

    .top-search{
        border-radius: 5px;
    }


    .bottom-search{
        width: 30%;
        height: 90%;
    border-radius: 20px;
    border: 1px solid var(--bcamp-light);
}
}

/* MAIN */

main{
    color: var(--bcamp-white);
}

.left-col,
.right-col {
    height: calc(100vh - 112px);
}

.left-col {
    width: 70%;
    overflow-y: auto;
    flex-wrap: wrap;

    /* CARD */

    .song-card { 
        padding:0.5rem ;
        width: calc(100% / 4);
    }
    .song-card>*{
        padding-bottom: 0.3rem;
    }
    .img-song > img{
        border: 2px solid var(--bcamp-light-dark);
        width: 100%;
    }

    .song-type{
        color: var(--bcamp-light);
    }

}

.album{
    padding: 1rem;
}

.right-col {
    width: 30%;
    overflow-y: auto;
}

/* ASIDE */

aside{
    border-left: 2px solid var(--bcamp-light-dark);
}

.img-live-song > img{
    width: 100%
}